.header-container {
	@extend .container;
	padding: 1em;

	@media (min-width: $largish) {
		background-position: top right;
		padding: 3em;
	}
}

.second-form-background {
	display:block;
	text-align:center;
	background-color: #91b1be;
	margin-top: 2em;
}

.main-title {
	text-align:center;
	color: $white;
	padding-top: 1em;
	padding-bottom: 1em;
	max-width: 60%;
	margin-left:auto;
	margin-right:auto;
	border: 3px solid white;
	@media (min-width: $mediumish) {
		max-width: 33%;
	}
}

a.logo { 
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

.logo-img {
	max-height: 50px;
}

a:hover { background: none; }

.pet-image {
	max-width: 200px;
	max-height: 200px;
}

.pet-icon {
	min-height: 120px;
	margin-bottom: 1em;
	box-shadow: 1px 1px 1px 1px $medium-gray;

	@media (min-width: $largish) {
		min-height: 200px;
		background-color: #eee;
		border: 1.5em solid white;
		box-shadow: 1px 1px 1px 1px $medium-gray;
	}

	&:hover {
		cursor: pointer;
	}
}

.dog-icon {
	background-image: (url("/images/dog.png"));
	background-size: contain;
	background-repeat:no-repeat;
	background-position: center center;
}

.dog-icon.active {
	background-image: (url("/images/dog-active.png"));
	background-color: $powder-blue;
}

.cat-icon {
	background-image: (url("/images/cat.png"));
	background-size: contain;
	background-repeat:no-repeat;
	background-position: center center;
}

.cat-icon.active {
	background-image: (url("/images/cat-active.png"));
	background-color:  $powder-blue;
}

.other-icon {
	background-image: (url("/images/other.png"));
	background-size: contain;
	background-repeat:no-repeat;
	background-position: center center;
}

.other-icon.active {
	background-image: (url("/images/other-active.png"));
	background-color:  $powder-blue;
}