.pet-image {
	max-width: 200px;
	max-height: 200px;
}

.pet-icon {
	min-height: 120px;
	margin-bottom: 1em;
	box-shadow: 1px 1px 2px 1px darken($primary-color, 17);
	border-radius: 3px;

	@media (min-width: $largish) {
		min-height: 200px;
		background-color: lighten($primary-color, 29);
		border: 1.5em solid white;
	}

	&:hover {
		cursor: pointer;
		box-shadow: 1px 1px 4px 1px darken($primary-color, 27);
	}
}

.dog-icon {
	background-image: (url("/images/dog.png"));
	background-size: contain;
	background-repeat:no-repeat;
	background-position: center center;
	
	&.active {
		background-image: (url("/images/dog-active.png"));
		background-color: $secondary-color;
	}
}

.cat-icon {
	background-image: (url("/images/cat.png"));
	background-size: contain;
	background-repeat:no-repeat;
	background-position: center center;
	
	&.active {
		background-image: (url("/images/cat-active.png"));
		background-color: $secondary-color;
	}
}


.other-icon {
	background-image: (url("/images/other.png"));
	background-size: contain;
	background-repeat:no-repeat;
	background-position: center center;
	
	&.active {
		background-image: (url("/images/other-active.png"));
		background-color: $secondary-color;
	}
}