header {
	background-color: $light-yellow;
	margin-bottom: 2em;
	padding-bottom: 2em;
}

footer {
	background-color: $light-gray;
}

.logo { max-height: 100px; }

a:hover { background: none; }

.pet-image {
	max-width: 200px;
	max-height: 200px;
}

.pet-icon {
	min-height: 120px;
	margin-bottom: 1em;
	box-shadow: 1px 1px 1px 1px $medium-gray;

	@media (min-width: $largish) {
		min-height: 200px;
		background-color: #eee;
		border: 1.5em solid white;
		box-shadow: 1px 1px 1px 1px $medium-gray;
	}

	&:hover {
		cursor: pointer;
	}
}

.dog-icon {
	background-image: (url("/images/dog.png"));
	background-size: contain;
	background-repeat:no-repeat;
	background-position: center center;
}

.dog-icon.active {
	background-image: (url("/images/dog-active.png"));
	background-color:$light-yellow;
}

.cat-icon {
	background-image: (url("/images/cat.png"));
	background-size: contain;
	background-repeat:no-repeat;
	background-position: center center;
}

.cat-icon.active {
	background-image: (url("/images/cat-active.png"));
	background-color: $light-yellow;
}

.other-icon {
	background-image: (url("/images/other.png"));
	background-size: contain;
	background-repeat:no-repeat;
	background-position: center center;
}

.other-icon.active {
	background-image: (url("/images/other-active.png"));
	background-color: $light-yellow;
}