.header-container {
	@extend .container;
	padding: 1em;

	@media (min-width: $largish) {
		background-position: top right;
		padding: 3em;
	}
}

.main-title {
	text-align: center;
	color: $white;
	padding-top: 1em;
	padding-bottom: 1em;
	@extend .col-xs-6;
	@extend .col-xs-offset-3;
	border: 2px solid white;
	border-radius: 2px;
	transition: all 0.2s ease 0s;
	@extend .col-md-4;
	@extend .col-md-offset-4;
	font-size: 1.3em;

	@media (min-width: $mediumish) {
		font-size: 1.6em;
		border: 3px solid white;
	}

	@media (min-width: $largish) {
		font-size: 1.9em;
	}

	&:hover {

	}
}

a.logo { 
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

.logo-img {
	max-height: 50px;
}

a:hover { background: none; }

.call-to-action {
	color: $dark-blue;
	font-size: 1.1em;
	@media (min-width: $largish) {
		font-size: 1.5em;
	}
}

.pet-image {
	max-width: 200px;
	max-height: 200px;
}

.pet-icon {
	min-height: 120px;
	margin-bottom: 1em;
	box-shadow: 1px 1px 1px 1px $medium-blue;
	border-radius: 2px;

	@media (min-width: $largish) {
		min-height: 200px;
		background-color: lighten($medium-blue, 29);
		border: 1.5em solid white;
		box-shadow: 1px 1px 1px 1px $medium-blue;

	}

	&:hover {
		cursor: pointer;
	}
}

.dog-icon {
	background-image: (url("/images/dog.png"));
	background-size: contain;
	background-repeat:no-repeat;
	background-position: center center;
}

.dog-icon.active {
	background-image: (url("/images/dog-active.png"));
	background-color: $powder-blue;
}

.cat-icon {
	background-image: (url("/images/cat.png"));
	background-size: contain;
	background-repeat:no-repeat;
	background-position: center center;
}

.cat-icon.active {
	background-image: (url("/images/cat-active.png"));
	background-color:  $powder-blue;
}

.other-icon {
	background-image: (url("/images/other.png"));
	background-size: contain;
	background-repeat:no-repeat;
	background-position: center center;
}

.other-icon.active {
	background-image: (url("/images/other-active.png"));
	background-color:  $powder-blue;
}