.subscription-form {
	@extend .main-form-first;
	@extend .panel-info;
	border:none;
	border-radius: 2px;
	background-color: $white;
	border: 1.5em solid white;
	box-shadow: 1px 1px 1px 1px $medium-gray;
	margin-top: 1em;

	.subscription-title {
		@extend .panel-heading;
		@extend .panel-title;
		font-size: 1.4em;
		text-align: center;
		background-color: white;
		@media (min-width: $largish) {
			font-size: 1.7em;
		}
	}

	.subscription-body {
		@extend .panel-body;
	}

	.subscription-readonly-input {
		@extend .form-group;
		@extend .col-xs-4;
		font-size: .9em;
		border: 1px solid $medium-blue;
		border-radius: 4px;

		.form-control {
			background-color: $white;
			@extend .input-sm;
			border: none;
			box-shadow: none;
			padding: 0em;
			font-size: .9em;
			cursor: default;
		}
	}

	.subscription-input {
		@extend .form-group;
		@extend .col-xs-12;
		@extend .col-md-6;
		padding: 3px;

		.form-control {
			@extend .form-control;
			background-color: lighten($powder-blue, 3);
		}
	}
}

.results-table {
	@extend .table;
	@extend .table-responsive;
	
	img {
		border-radius: 7px;

		&:hover {

		}
	}	
}

.result-each {
	h5 {
		font-size: 1em;
	}
}
