.show-single-result {
	@extend .show-layout;
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: $white;

	h4 {
		font-size: 1.4em;
	}
}

.pet-id-number {
	color: darken($medium-blue, 32);
	background-color: $yellow;
	padding: .5em;
	border-radius: 3px;
	font-size: 1em;
}

.pet-current-location {
	@extend .call-to-action;
	padding-bottom: 1em;
}

.show-single-result-copy {
	text-align: left;
	@extend .col-xs-10;
	font-size: .9em;
	border-left: 9px solid $powder-blue;
	margin-top: .2em;
	margin-bottom: .6em;
	
}

.pet-id-number-highlight {
	background-color: $yellow;
	display: inline;
	padding-bottom: .5em;

}

.responsive-pet-icon {
	@extend .responsive-image-layout;
	@extend .pet-icon;
	padding: 0em;
}