<br />
<div class="btn-group">
    <a class="btn btn-primary" role="button">Male</a>
 +  <a class="btn btn-default" role="button">Female</a>
</div>
<br />
<br />
<p>
	<%= label_tag :date_lost %>
	<%= text_field_tag :date_lost %>
</p>
<br />