<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>A recent animal intake matches your search criteria! See below for further details.</p> 

    <p><%= image_tag "http://www.petharbor.com/get_image.asp?RES=Thumb&ID=A678593&LOCATION=ASTN" %></p>

    <p><%= "http://something.herokuapp.com" %></p> <!-- will replace with actual urls -->
    <p></p>
    <p>Thank you,</p> 
    <p>The PetFinder Team</p> 
  </body>
</html>