<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Thank you for using PetFinder to find your furry friend! Our mission is to unite pets and their owners by delivering current information on local animal shelter intakes using a mobile website so owners can search for their pet in a single place.</p> 

    <p>We hope our service will be of help to you and your family. You will receive an email notification each time an animal intake matches your search criteria. If you believe an animal featured in a notification may be your pet, we encourage you to contact the appropriate shelter to reclaim your pet. All unclaimed pets by law must be housed by shelters for the first 72 hours after intake to give owners the chance to retrieve their pet. After the 72 hour period has passed, all pets become open for adoption to the public.</p>   
    <p></p>
    <p>Your search criterion is listed below.</p> 
    <p>Gender: Female</p>
    <p>Color: null</p>
    <p>Fixed: true</p>
    <p>Date found: 5/30/2014</p>
    <p>Breed: Beagle</p>
    <p>Species: Dog</p>
    <p></p>
    <p></p>
    <p>Thank you,</p> 
    <p>The PetFinder Team</p>
  </body>
</html>