.search-form {
  display:block;
  background-color: $primary-color;
  margin-top: 1.5em;
  text-align: center;
  
  .has-feedback {
    display: inline-block;

    input {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    i {
      top: 10px;
    }
  }

  .male-female-search {
    display: inline-block;
    .btn-default {
      background-color: white;
      border-color: $medium-blue;
      width: 90px;
    }
  }
}

.form-group {
  margin-top: .5em;
}

.button {
  @extend .btn;
  @extend .btn-lg;
  @extend .btn-block;
  transition: all 0.2s ease 0s;
}

input[type="submit"].search-button {
  @extend .button;
  width: 66%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: $primary-button-color;
  color: $primary-font-color;
  margin-top: 20px;

 @media (min-width: $largish) {
     width: 33%;
  }

  &:hover {
    background-color: $primary-button-color-dark;
  }
}

.submit-button {
  @extend .search-button;
}

.subscription-form {
  @extend .wide-layout;
}

.return-button {
  @extend .btn;
  @extend .btn-default;
  background-color: $secondary-background-button-color;
  margin-bottom: .5em;
  margin-top: .5em;
  transition: all 0.2s ease 0s;
  border:none;

  &:hover {
   background-color: $primary-button-color-dark;
 }
}