.second-form-background {
  display:block;
  text-align:center;
  background-color: $medium-blue;
  margin-top: 2em;
}

.form-group {
  margin-top: .5em;
}

.button {
  @extend .btn;
  @extend .btn-lg;
  @extend .btn-block;
  transition: all 0.2s ease 0s;
}

.search-button {
  @extend .button;
  background-color: $yellow;
  color: darken($medium-blue, 33);

  &:hover {
    background-color: $dark-yellow;
  }
}

.submit-button {
  @extend .search-button;
}

.subscription-form {
  @extend .wide-layout;
}

.return-button {
  @extend .btn;
  @extend .btn-default;
  background-color: darken($powder-blue, 11);
  margin-bottom: .5em;
  margin-top: .5em;
  transition: all 0.2s ease 0s;
  border:none;

  &:hover {
   background-color: $dark-yellow;
 }
}

.unsubscribe {
  margin-bottom: 2em;
  margin-top: 2em;
  text-align: center;
}

.unsubscribe-button {
  @extend .search-button;
  @extend .btn-sm;
  background-color: lighten($medium-gray, 19);
}