header {
  background-image: (url("header-banner.jpg"));
  background-color: $primary-color;
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center right;
}

.header-container {
  @extend .container;
  padding: 1em;

  @media (min-width: $largish) {
    background-position: top right;
    padding: 3em;
  }
}

.main-title {
  @extend .main-title-layout;
  text-align: center;
  color: $white;
  padding-top: 1em;
  padding-bottom: 1em;
  border: 2px solid white;
  border-radius: 2px;
  transition: all 0.2s ease 0s;
  font-size: 1.3em;

  @media (min-width: $mediumish) {
    font-size: 1.6em;
    border: 3px solid $white;
  }

  @media (min-width: $largish) {
    font-size: 1.9em;
  }
}
 
a.logo { 
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

a:hover { background: none; }

body {
  background-color: $white;
  color: $primary-font-color;
  font-family: verdana, arial, helvetica, sans-serif;
}


footer {
  display: block;
  background-color: $neutral-color-light;
}
.unsubscribe {
  margin-bottom: 2em;
  margin-top: 2em;
  text-align: center;
}

.unsubscribe-button {
  @extend .button;
  @extend .btn-sm;
  background-color: lighten($neutral-color-medium, 19);

  &:hover {
    background-color: $primary-button-color-dark;
  }
}

a {
  color: $primary-link-color;
  
  &:hover {
    text-decoration: none;
  }
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: $primary-link-color;
  &:visited {
    color: #666;
  }
  &:hover {
    background-color: $primary-link-color;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.alert {
  text-align: center;
  font-size: 1.3em;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: $red;
    color: $white;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.call-to-action {
  color: $primary-color-dark;
  font-size: 1.1em;
  @media (min-width: $largish) {
    font-size: 1.5em;
  }
}

.centered {
  text-align: center;
}


.pagination {
  @extend .col-xs-12;
  text-align: center;
  font-size: 1.1em;

  .current {
    color: darken($primary-color, 22);
    background-color: $primary-accent-color;
    padding: .5em;
    border-radius: 3px;
  }

  a {
    text-decoration:none;
    background-color: darken($primary-color, 11) ;
    padding: .3em;
    border-radius: 3px;
    color: $white;

    &:hover {
      color: lighten($secondary-color, 7);
      background-color: darken($primary-color, 22);
      padding: .3em;
      padding-top: .4em;
      padding-bottom: .4em;
      border-radius: 4px;
      transition: all 0.2s ease 0s;
    }

    &:active {
      color: $primary-accent-color;
    }
  }
}

.notice-box {
  @extend .notice-layout;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: $white;

  h4 {
    font-size: 1.4em;
  }
}

.beta-span {
  text-align:center;

  a{
    text-decoration: none;

    h4{
      color: darken($primary-font-color, 7);
      background-color: $primary-accent-color;
      margin-top: 0;
      padding: .5em;
      transition: all 0.2s ease 0s;
      border-radius: 2px;
      font-size: 1em;

      @media (min-width: $largish) {
        font-size: 1.2em;
      }

      &:hover { 
        color: $dark-gray;
        background-color: $primary-accent-color-dark;
      }
    }
  }
}