header {
  background-image: (url("header-banner.jpg"));
  background-color: $primary-color;
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center right;
}

body {
  background-color: $white;
  color: $primary-font-color;
  font-family: verdana, arial, helvetica, sans-serif;
}

footer {
  display: block;
  background-color: $neutral-color-light;
}

a {
  color: $primary-link-color;
  
  &:hover {
    text-decoration: none;
  }
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: $primary-link-color;
  &:visited {
    color: #666;
  }
  &:hover {
    background-color: $primary-link-color;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.alert {
  text-align: center;
  font-size: 1.3em;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: $red;
    color: $white;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.beta-span {
  text-align:center;

  a{
    text-decoration: none;

    h4{
      color: darken($primary-font-color, 7);
      background-color: $primary-accent-color;
      margin-top: 0;
      padding: .5em;
      transition: all 0.2s ease 0s;
      border-radius: 2px;
      font-size: 1em;

      @media (min-width: $largish) {
        font-size: 1.2em;
      }

      &:hover { 
        color: $dark-gray;
        background-color: $primary-accent-color-dark;
      }
    }
  }
}

.centered {
  text-align: center;
}