header {
  background-image: (url("puppies4.jpg"));
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center right;
}

body {
  background-color: $white;
  color: darken($medium-blue, 33);
  font-family: verdana, arial, helvetica, sans-serif;
}

footer {
  display: block;
  background-color: $light-gray;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.beta-span {
  text-align:center;

  a{
    text-decoration: none;

    h4{
      margin-top:0;
      padding: .5em;
      background-color: #fdd68b;
      border-radius: 2px;
      color: #333;
      font-size: 1em;
      @media (min-width: $largish) {
        font-size: 1.2em;
      }
      
      &:hover { 
        color: #222;
        background-color: $dark-yellow;
      }
    }
  }
}

.centered {
  text-align: center;
}