// Color Palette 

$white : #fff;
$light-gray: #DDD;
$gray : #808080;
$medium-gray: #999;

$light-blue: #89b6b7;
$dark-blue: #5f838a;
$blue: #4dabdf;
$powder-blue: #d9edf7;

$dark-gray: #222;
$medium-gray: #999;
$light-gray: #DDD;
$mauve: #55404f;
$yellow: #fdd68b;
$light-yellow: lighten($yellow, 14);
$dark-yellow: #f5bd6e;

// Color Scheme

$primary-color: $light-blue;
$primary-color-dark: $dark-blue;
$primary-color-light: lighten(#6a8189, 27);
$secondary-color: $mauve;
$accent-color: $yellow;

// Background Color
$base-background-color: white;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $yellow;

// Typography
$sans-serif: Helvetica;
$serif: Times;
$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Sizes
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$unitless-line-height: $base-line-height / ($base-line-height * 0 + 1); 
$header-line-height: $base-font-size * 1.25;
$base-border-radius: em(7);

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Border color
$base-border-color: $light-gray;


// Forms
$form-border-color: $primary-color-light;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $primary-color-dark;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;

// Breakpoints

$smallish : 24em;
$mediumish: 46.8em;
$largish: 50em;
$extra-largish : 67em;
