<%= form_tag url: confirm_url do %>

<div class="container">
	<div class="show-single-result">
		<h3 class="call-to-action centered">Enter your confirmation code to start receiving Pet Alerts</h3>
		<div class='form-group'>
			<%= label_tag :confirmation_code  %>
			<%= text_field_tag :confirmation_code, '', class: 'form-control' %>
		</div>

		<div class="actions">
			<%= submit_tag "Submit", class: "submit-button" %>
		</div>

		<% end %>

	</div>
</div>