<%= form_tag url: unsubscribe_url do %>

  <div class='form-group'>
    <%= label_tag :email_or_phone  %>
    <%= text_field_tag :email_or_phone, '', class: 'form-control' %>
  </div>

  <div class="actions">
    <%= submit_tag "Submit", class: "btn btn-success btn-lg btn-block" %>
  </div>

<% end %>