<div class="col-md-4 col-md-offset-4 results">
  <div class="results-header"> <!-- icon with gender & species with date lost -->
    <%= form_for(@notification) do |f| %>
      <p> <%= @looking_for %> lost on <%= f.text_field :date_lost, @date_lost %>
      <%= f.submit "Subscribe to this Feed", class: "btn btn-primary" %>
    <% end %> 
  </div>
  <div class="results-grid"> 
  </div>

</div>
