.pet-icon {
	display: inline-block;
	width: 200px;
	height: 200px;
}

@mixin pet-logo($name) {
	background: url(#{$name}.png);
	background-size: contain;

	&.active {
		background: url(#{$name}-active.png);
		background-size: contain;
	}
}

.dog-icon {
	@include pet-logo(dog);
}

.cat-icon {
	@include pet-logo(cat);
}

.other-icon {
	@include pet-logo(other);
}
